<html>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
    <head>
        
    </head>
    <body>
        
        <div class="container">
        <div>
            <br>
        </div>
            <h1> Design and Coding by MEHMET ÖMÜR ERDOLU<br><br> </h1>
            <h2>WELCOME İDVLAB DEMO PROJECT HOME PAGE</h2>

        </div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>