<html>
<body style="background-color: aliceblue;">
    <h1>User List<br><br><br></h1>
    <div class="container">
    
    <table class="table"></table>
    
    <thead>
    <tr>
    <th>#</th>
    <th>fullname</th>
    <th>mail</th>
    <th>phone</th>
    <th>password</th>
    
    
    
    </tr>
    
    
    </thead>
    <tbody>
        <th>#</th>
        <th>fullname</th>
        <th>mail</th>
        <th>phone</th>
        <th>password</th>
        
        
        
        </tr>
    
    
    
    </tbody>
    
    
    
    
    </div>
    <table>
    
    
    </table>

</body>

</html>

